body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F4F4F4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  display:none;
}

h1 {
 text-align: center;
}

#root {
  width: 320px;
  margin: 30px auto 0;
}

.card {
  width: 30%;
  height: 5rem;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
}

.card:hover {
  border-width: 3px;
  box-shadow: 0 10px 13px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.selected {
  border-width: 3px;
}

.svg-shapes-box {
  margin-top:1rem;
}

.button-wrapper, .table-wrapper {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.rules {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 0.7rem;
}
.important{
  font-size: 0.8rem;
}

.stats {
  font-size: 0.9rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.title-wrapper {
  margin-bottom:2rem;
}

.button {
  margin: 0 0.1rem 0 0.1rem;
  transition-duration: 0.4s;
  font-size: 0.6rem;
  padding: 5px 10px;
  border-radius:4px;
  background-color: white; 
}

.button:hover{ 
  box-shadow: 0 10px 13px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: white;
}

.toggle-rules {
  border: 2px solid #4CAF50;
}

.toggle-rules-selected {
  border: 2px solid #4CAF50;
  background-color: #4CAF50;
  color: white;
}

.toggle-rules:hover {
  background-color: #4CAF50;
}

.toggle-stats {
  border: 2px solid #7f20d8;
}

.toggle-stats-selected {
  border: 2px solid #7f20d8;
  background-color: #7f20d8;
  color: white;
}

.toggle-stats:hover {
  background-color: #7f20d8;
}

.noSet {
  border: 2px solid #d82020;
}

.noSet:hover {
  background-color: #d82020;
}
.long{
  display: none;
}
.short{
  display: inline;
}

@keyframes noSetHint {
  50% {background-color: #d82020;
       box-shadow: 0 10px 13px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
       border: 2px solid #d82020;
       color: white;
       }
}

.noSet-hint {
  animation-name: noSetHint;
  animation-duration: 3s;
}

.reload {
  border: 2px solid yellowgreen;
}



.hint {
  border: 2px solid yellow;
}

.hint:hover {
  background-color: yellow;
  color: black;
}

.hint:disabled {
  background-color: yellow;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  float:left;
  width: 8%;
}

.values1 {
  width: 15%;
}

.first {
  margin-left: 0.2rem;
  width: 40%;
}

.second {
  width: 34%;
}

.row:after {
content:'';
display:table;
clear:both;
}

.debugInfo {
  display: none;
}

.hinted {
  animation-name: hint;
  animation-duration: 4s;
}

@keyframes hint {
  50%  {background-color: rgb(243, 227, 82);
        border-color: yellow;
        box-shadow: 0 10px 13px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
}

footer {
  width: 320px;
  margin: 2.5rem auto 2rem;
  text-align: center;
  color:dimgray;
}

.icon{
 margin: 0 2rem 0 2rem;
}

.score-wrapper{
  position:relative;
  top:-50%;
  left:40%;
  opacity: 0;
}

.scorePoint {
  position:absolute;
  color:green;
  font-size: 1.4rem;
  cursor: default;
}
.animate{
  animation:scoresUp;
  animation-duration: 3s;
}

@keyframes scoresUp{
  10%{
    opacity: 1;
  }
  100%{
    top: -300%;
    opacity: 0.1;
  }
}

.time-wrapper {
  position:relative;
  top: 0;
  left: 35%;
  opacity: 0;
}
.lastTime{
  position: absolute;
  font-size: 1.6rem;
  color: green;
  cursor: default;
}

.show {
  animation-name: timeFlies;
  animation-duration: 5s;
}
@keyframes timeFlies{
  10% {
    opacity: 1;
  }
  100% {
    top: -80vh;
    opacity: 0.2;
  }
}

.alert-wrapper {
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	z-index:1;
	height: 100%;
}

.alert-relative {
	position: relative;
	left: 50%;
	top: 36%;
	margin-left: -125px;
	padding: 15px;
	width: 220px;
	z-index: 3;
	-webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
	text-align: center;
	color: black;
}

.alert-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: #000000;
	opacity: 0.3;
	z-index: 2;
	top: 0;
	left: 0;
}

.alert-btn {
	outline: none;
	height: 30px;
	text-align: center;
	width: 120px;
	margin-top: 5px;
	border-radius: 10px;
	background: #FFFFFF;
	border: 2px solid #000000;
	color: black;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.25s ease;
}

.alert-btn:hover {
  color: #FFFFFF;
	background: #000000;
}

.hidden {
  display: none;
}
.success {
	background-color: #00C653;
}
.failedAttempt{
  background-color:red;
}
.noSetFail{
  background-color:  #d82020;
}
.alert-main{
  font-size: 1.3rem;
}
.alert-additional{
  font-size: 0.9rem;
}

@media only screen and (min-device-width: 450px) {
  #root{
    width: 450px;
  }
  footer{
    width:450px;
  }
  .card{
    height: 6rem;
    margin: 5px 5px 5px 5px;
  }
  .card:hover, .selected {
    border-width: 4px;
  }
  .button {
    margin: 0 0.2rem 0 0.2rem;
    transition-duration: 0.4s;
    font-size: 0.68rem;
    padding: 7px 14px;
  }
  .long{
    display: inline;
  }
  .short{
    display: none;
  }
  .stats {
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .first {
    margin-left: 0.5rem;
  }
  .score-wrapper{
    left:35%;
  }
  .scorePoint{
    font-size: 2.1rem;
  }
  .time-wrapper{
    left: 36%;
  }
  .lastTime{
    font-size: 2.1rem;
  }

  .alert-relative {
    top: 38%;
    margin-left: -145px;
    padding: 20px;
    width: 250px;
  }
  .alert-main {
    font-size: 1.4rem;
  }
  .alert-additional {
    font-size: 1rem;
  }
  .alert-btn {
    height: 33px;
    width: 120px;
    margin-top: 10px;
  }
}
@media only screen and (min-device-width: 550px) {
  #root{
    width: 550px;
  }
  footer{
    width: 550px;
  }
  .card{
    height: 7rem;
  }
  .button {
    margin: 0 0.3rem 0 0.3rem;
    transition-duration: 0.4s;
    font-size: 0.85rem;
    padding: 8px 16px;
  }
  .rules {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1rem;
  }
  .important{
    font-size: 1.1rem;
  }
  .stats {
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
  }
  .score-wrapper{
    left:35%;
  }
  .scorePoint{
    font-size: 2.6rem;
  }
  .time-wrapper{
    left: 36%;
  }
  .lastTime{
    font-size: 2.6rem;
  }
  .alert-relative {
    left: 50%;
    top: 41%;
    margin-left: -145px;
    padding: 20px;
    width: 250px;
  }
  .alert-main {
    font-size: 1.5rem;
  }
  .alert-additional {
    font-size: 1rem;
  }
  .alert-btn {
    height: 35px;
    width: 120px;
    margin-top: 10px;
  }
}

@media only screen and (min-device-width: 650px) {
  #root{
    width: 650px;
  }
  footer{
    width:650px;
  }
  .card{
    height: 8rem;
  }
  .button {
    margin: 0 0.5rem 0 0.5rem;
    font-size: 1rem;
  }
  .stats {
    font-size: 1.3rem;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
  }
  .scorePoint{
    font-size: 3rem;
  }
  .time-wrapper{
    left: 36%;
  }
  .lastTime{
    font-size: 3.3rem;
  }

  .alert-relative {
    left: 50%;
    top: 43%;
    margin-left: -170px;
    padding: 20px;
    width: 300px;
  }
  .alert-main {
      font-size: 1.5rem;
  }
  .alert-additional {
      font-size: 1rem;
  }
  .alert-btn {
    height: 40px;
    width: 130px;
    margin-top: 20px;
  }
  .reload:hover {
    background-color: yellowgreen;
  }
}



