:root {
  --animationTimeFactor: 1;
}

body {
  width: 100%;
  height:100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F4F4F4;
}

.wrapper{
  width: 100vw;
  text-align:center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  display: none;
}

h1 {
 text-align: center;
}

#root {
  width: 320px;
  height: 100%;
  margin:30px auto;
  text-align: center;
}

.card {
  width: 30%;
  height: 5rem;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
}


.button {
  margin: 0 0.1rem 0 0.1rem;
  transition-duration: 0.4s;
  font-size: 0.6rem;
  padding: 5px 10px;
  border-radius:4px;
  background-color: white; 
}

.selected {
  border-width: 4px;
  background-color: #ebebeb;
  
}

.svg-shapes-box {
  margin-top: 1rem;
}

.button-wrapper, .table-wrapper {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.rules {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 0.7rem;
}
.important{
  font-size: 0.8rem;
}

.stats {
  font-size: 0.9rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.toggle-stats {
  border: 2px solid #7f20d8;
}

.toggle-stats-selected {
  width: 72px;
  border: 2px solid #7f20d8;
  background-color: #7f20d8;
  border-bottom-color: black;
  border-radius: 4px 4px 0 0;
  color: white;
}

.tab-buttons-wrapper {
  position:relative;
  display:inline;
}

.tab-buttons {
  position: absolute;
  left: -74px;
  top: 18px;
}

.current-btn, .leaderboard-btn {
  width: 36px;
  font-size: 0.6rem;
  display:inline;
  border-radius: 0 0 3px 3px;
  border-width: 1px;
  border-top-width:0px;
  border-color: #7f20d8;
  background-color: white;
}

.chosen {
  background-color: #7f20d8CC;
  color:#FFFFFF;
}

.topScoreTable, .fastestGamesTable {
  margin: 1.3rem auto 1rem auto;
  font-size: 0.7rem;
  width: 95%;
}

.titlerow {
  background-color: #7f20d880;
}

th, td {
  padding: 6px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.title-wrapper {
  margin-bottom:2rem;
}


.toggle-rules {
  border: 2px solid #4CAF50;
}

.toggle-rules-selected {
  border: 2px solid #4CAF50;
  background-color: #4CAF50;
  color: white;
}

.noSet {
  border: 2px solid #d82020;
}

.long{
  display: none;
}
.short{
  display: inline;
}

@keyframes noSetHint {
  50% {background-color: #d82020;
       box-shadow: 0 10px 13px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
       border: 2px solid #d82020;
       color: white;
       }
}

.noSet-hint {
  animation-name: noSetHint;
  animation-duration: calc(3s * var(--animationTimeFactor));
}

.reload{
  border: 2px solid yellowgreen;
}

.hint {
  border: 2px solid yellow;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1.5rem;
}

.column {
  float:left;
  width: 8%;
}

.values1 {
  width: 15%;
}

.first {
  margin-left: 0.2rem;
  width: 40%;
}

.second {
  width: 34%;
}

.row:after {
  content:'';
  display:table;
  clear:both;
}

.debugInfo {
  display: none;
}

.hinted {
  animation-name: hint;
  animation-duration: calc(4s * var(--animationTimeFactor));
}

@keyframes hint {
  50%  {background-color: rgb(243, 227, 82);
        border-color: yellow;
        box-shadow: 0 10px 13px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
}

footer {
  width: 320px;
  margin: 2.5rem auto 2rem;
  text-align: center;
  color:dimgray;
}

.icon {
 margin: 0 2rem 0 2rem;
}

.score-wrapper {
  position:relative;
  top:-50%;
  left:40%;
  opacity: 0;
}

.scorePoint {
  position:absolute;
  color:green;
  font-size: 1.4rem;
  cursor: default;
}

.animate {
  animation:scoresUp;
  animation-duration: calc(3s * var(--animationTimeFactor));
}

@keyframes scoresUp {
  10%{
    opacity: 1;
  }
  100%{
    top: -300%;
    opacity: 0.1;
  }
}

.time-wrapper {
  position:relative;
  top: 0;
  left: 35%;
  opacity: 0;
}

.lastTime {
  position: absolute;
  font-size: 1.6rem;
  color: green;
  cursor: default;
}

.forLooser {
  color: gray;
}

.show {
  animation-name: timeFlies;
  animation-duration: calc(3s * var(--animationTimeFactor));
}

@keyframes timeFlies {
  10% {
    opacity: 1;
  }
  100% {
    top: -80vh;
    opacity: 0.2;
  }
}

.alert-wrapper {
  position:relative;
  top: 20px;
}

.alert-absolute {
  position: absolute;
  left: 50%;
	margin-left: -125px;
	padding: 15px;
	width: 220px;
	z-index: 3;
	-webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
	text-align: center;
	color: black;
}

.alert-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: #000000;
	opacity: 0.3;
	z-index: 2;
	top: 0;
	left: 0;
}

.alert-btn {
	outline: none;
	height: 30px;
	text-align: center;
	width: 120px;
	margin-top: 5px;
	border-radius: 10px;
	background: #FFFFFF;
	border: 2px solid #000000;
	color: black;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.25s ease;
}


.hidden {
  display: none;
}

.success {
	background-color: #00C653;
}

.failedAttempt {
  background-color:red;
}

.noSetFail {
  background-color:  #d82020;
}

.nicknamePrompt {
  background-color:  yellowgreen;
}

.name-input {
  width: 200px;
}

.enter-button {
  color:green;
  text-decoration: underline;
}

.encouraging-info {
  margin-left: 1rem;
}

.alert-main {
  font-size: 1.3rem;
}

.alert-additional {
  font-size: 0.9rem;
}

.right {
  float: right;
}


/* ###########################################################################
                        Multiplayer related*/

.lobby {
  width:95%;
  margin: 0 auto;
}

.chatbox, .games, .current-game {
  margin-left: 1px;
  font-size: 0.7rem;
  width: 63%;
  height:200px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 0 0 0;
  background-color: rgb(233, 233, 233); 
}

.games, .current-game {
  width:36%;
  padding: 0;
  text-align: center;
}

.chatbox-overlays {
  position:relative;
}

.chatbox-overlay-top {
  position:absolute;
  top:-4px;
  width:100%;
  height:15px;
  background-image: linear-gradient(rgba(233,233,233, 1), rgba(233,233,233, 0));
}

.chatbox-overlay-bottom {
  position:absolute;
  top: 115px;
  width:100%;
  height:45px;
  background-image: linear-gradient(rgba(233,233,233, 0), rgba(233,233,233, 0.7));
}

.messages {
  height:84%;
  overflow: auto;
  overflow-x: hidden;
  display:flex;
  flex-flow: row wrap;
  align-content: flex-start;
  flex: 1;
}

.chat-message {
  margin-left: 8px;
  margin-bottom:9px;
  margin-right:11px;
  width:80%;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.sended {
  margin-left:50px;
}

.last {
  margin-bottom: 15px;
}

.hateDot {
  opacity:0;
}

.chat-text {
  padding: 5px;
  font-size: 0.6rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  align-self: flex-start;  
}

.own {
  align-self:flex-end;
}

.grey {
  font-weight: bold;
}

.blue {
  background-color: rgba(12, 7, 250, 0.18);
}

.orange {
  background-color: rgba(250, 145, 7, 0.18);
}

.green {
  background-color: rgba(7, 250, 100, 0.18);
}

.pink {
  background-color: rgba(250, 7, 238, 0.18);
}

.input-wrapper {
  padding: 4px 6px 4px 8px;
  background-color: rgba(0, 0, 0, 0.05);
}

#messageText {
  box-sizing: border-box;
  border-radius:5px;
  width: 65%;
}

.sendBtn {
  border-radius:3px;
  border-color:black;
  top:85%;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.startGame {
  border: 2px solid orange;
}

.lobby-or-game {
  border: 2px solid purple;
}

.lobby-or-game-selected {
  border: 2px solid purple;
  background-color: purple;
  color: white;
}

.createGame {
  background-color: #4CAF50;
  font-size: 0.65rem;
  border-radius: 18px;
  border-style: solid;
  border-color: #4CAF50;
  width: 85px;
  height: 17px;
  margin-left: 0;
  margin-top: 8px;
  margin-bottom:8px;
}

.joinGame{
  color:green;
  text-decoration:underline;
}

.gamesBox-title-wrapper {
  text-align: center;
  padding:4px;
  background-color: rgba(0, 0, 0, 0.05);
}
.lobby-game{
  margin: 1rem;
}
.game-info{
  margin: 1rem auto;
}
.game-scores{
  margin: 1rem auto;
  font-weight: normal;
}

.close-icon {
  height:13px;
  width:13px;
  float:right;
  fill:dimgray;
}


@keyframes loosingCard {
  50% {
    background-color: #f76969;
    box-shadow: 0 10px 13px 0 rgba(190, 8, 8, 0.64), 0 17px 50px 0 rgba(190,8,8,0.49);
  }
}
.animate-card-multiplayer{
  animation-name: loosingCard;
  animation-duration: calc(3s * var(--animationTimeFactor));;
}
.countdown{
  position:absolute;
  font-size: 7rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.lobby-games {
  height:130px;
  overflow-y: scroll;
}

.multiplayer-icon {
  fill:dimgray;
}

.multiplayer-icon-active {
  fill:black;
}

.player-name, .player-score, .player-avg-time {
  text-align: center;
  border: none;
  font-size: 0.55rem;
  padding: 3px 7px 3px 7px;
}
.player-name {
  border-radius: 6px 0 0 6px;
}
.player-score {
  border-radius: 0 6px 6px 0;
}


@media only screen and (min-device-width: 450px) {
  #root {
    width: 450px;
  }

  footer {
    width:450px;
  }

  .card {
    height: 6rem;
    margin: 5px 5px 5px 5px;
  }

  .selected {
    border-width: 5px;
  }

  .button {
    margin: 0 0.2rem 0 0.2rem;
    transition-duration: 0.4s;
    font-size: 0.68rem;
    padding: 7px 14px;
  }
  
  .long {
    display: inline;
  }

  .short {
    display: none;
  }

  .stats {
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .first {
    margin-left: 0.5rem;
  }

  .score-wrapper {
    left:35%;
  }

  .scorePoint{
    font-size: 2.1rem;
  }

  .time-wrapper {
    left: 36%;
  }

  .lastTime {
    font-size: 2.1rem;
  }

  .alert-absolute {
    left: 50%;
    margin-left: -145px;
    padding: 20px;
    width: 250px;
  }

  .alert-main {
    font-size: 1.4rem;
  }

  .alert-additional {
    font-size: 1rem;
  }

  .alert-btn {
    height: 33px;
    width: 120px;
    margin-top: 10px;
  }

  .topScoreTable, .fastestGamesTable {
    margin: 1.3rem auto 1rem auto;
    font-size: 0.8rem;
    width: 95%;
  }
  
  td, th {
    padding: 7px;
  }

  .toggle-stats-selected {
    width: 86px;
  }

  .current-btn, .leaderboard-btn {
    width: 43px;
  }

  .tab-buttons {
    position: absolute;
    left: -90px;
    top: 21px;
  }
  /*######################*/

  .player-name, .player-score, .player-avg-time {
    font-size: 0.65rem;
    padding: 4px 8px 4px 8px;
  }

  .sendBtn {
    font-size: 0.9rem;
    margin-left: 1.5rem;
  }

  .chatbox, .games, .current-game {
    margin-left: 1px;
    font-size: 0.8rem;
  }

  .close-icon {
    height:15px;
    width:15px;
  }

  .chat-text {
    font-size: 0.7rem;
  }
}

@media only screen and (min-device-width: 550px) {
  #root {
    width: 550px;
  }

  footer {
    width: 550px;
  }

  .card {
    height: 7rem;
  }

  .button {
    margin: 0 0.3rem 0 0.3rem;
    transition-duration: 0.4s;
    font-size: 0.85rem;
    padding: 8px 16px;
  }

  .rules {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1rem;
  }

  .important {
    font-size: 1.1rem;
  }

  .stats {
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
  }

  .score-wrapper {
    left:35%;
  }

  .scorePoint {
    font-size: 2.6rem;
  }

  .time-wrapper {
    left: 36%;
  }

  .lastTime {
    font-size: 2.6rem;
  }

  .alert-absolute {
    left: 50%;
    margin-left: -145px;
    padding: 20px;
    width: 250px;
  }

  .alert-main {
    font-size: 1.5rem;
  }

  .alert-additional {
    font-size: 1rem;
  }

  .alert-btn {
    height: 35px;
    width: 120px;
    margin-top: 10px;
  }

  .topScoreTable, .fastestGamesTable {
    margin: 1.8rem auto 1rem 0.4rem;
    font-size: 0.9rem;
    width: 95%;
  }

  td, th {
    padding: 8px;
  }

  .toggle-stats-selected {
    width: 100px;
  }

  .current-btn, .leaderboard-btn {
    font-size: 0.7rem;
    width: 50px;
  }

  .tab-buttons {
    position: absolute;
    left: -105px;
    top: 24px;
  }
  /*##############*/

  .chatbox, .games, .current-game {
    margin-left: 5px;
    font-size:0.9rem;
    width:48%;
    height:200px;
    padding: 8px 0 0 0;
  }

  .games, .current-game {
    padding: 0;
  } 
  .lobby-games {
    height:135px;
  }
  .createGame {
    font-size: 0.75rem;
    width: 105px;
    height: 25px;
    margin-left: 20px;
  }
  .player-name, .player-score, .player-avg-time {
    font-size: 0.75rem;
    padding: 7px 16px 7px 16px;
  }
  .close-icon{
    height:17px;
    width:17px;
  }
}

@media only screen and (min-device-width: 650px) {
  #root {
    width: 650px;
  }

  footer {
    width:650px;
  }

  .card {
    height: 8rem;
  }

  .button {
    margin: 0 0.5rem 0 0.5rem;
    font-size: 1rem;
  }

  .stats {
    font-size: 1.3rem;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
  }

  .scorePoin {
    font-size: 3rem;
  }

  .time-wrapper {
    left: 36%;
  }

  .lastTime {
    font-size: 3.3rem;
  }

  .alert-absolute {
    left: 50%;
    margin-left: -170px;
    padding: 20px;
    width: 300px;
  }

  .alert-main {
      font-size: 1.5rem;
  }

  .alert-additional {
      font-size: 1rem;
  }

  .alert-btn {
    height: 40px;
    width: 130px;
    margin-top: 20px;
  }
  
  td, th {
    padding:10px;
  }

  .toggle-stats-selected {
    width: 110px;
  }

  .current-btn, .leaderboard-btn {
    font-size: 0.9rem;
    width: 55px;
  }

  .tab-buttons {
    position: absolute;
    left: -118px;
    top: 28px;
  }

  /*##########*/

  .chatbox, .games, .current-game {
    margin-left: 7px;
    width:48%;
    height:200px;
    padding: 8px 0 0 0;
  }

  .games, .current-game {
    padding: 0;
  }

  .lobby-games {
    height:135px;
  }

  .chat-text {
    font-size: 0.8rem;
  }
}

@media (hover: hover) and (pointer: fine) {

  .card:hover {
    border-width: 4px;
    box-shadow: 0 10px 13px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }


  .button:hover:enabled { 
    box-shadow: 0 10px 13px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
  }

  .toggle-rules:hover {
    background-color: #4CAF50;
  }

  .toggle-stats:hover {
    background-color: #7f20d8;
  }

  .noSet:hover {
    background-color: #d82020;
  }

  .reload:hover {
    background-color: yellowgreen;
  }

  .hint:hover {
    background-color: yellow;
    color:black !Important;
  }
  
  .hint:disabled {
    background-color: yellow;
  }

  .current-btn:hover, .leaderboard-btn:hover {
    background-color: #7f20d8CC;
    color:#FFFFFF;
  }

  .alert-btn:hover {
    color: #FFFFFF;
    background: #000000;
  }

  .enter-button:hover {
    font-weight: bold;
    cursor: pointer;
  }

  .startGame:hover:enabled {
    background-color: orange;
  }

  .lobby-or-game:hover {
    background-color: purple;
    color: white;
  }

  .createGame:hover{ 
    font-weight: bold;
    cursor: pointer;
  }

  .joinGame:hover {
    font-weight: bold;
    cursor: pointer;
  }

  .close-icon:hover {
    fill:black;
  }

  .multiplayer-icon:hover {
    fill:black;
  }
}